In [1]:
from pathlib import Path

In [4]:
Path('../tmp').mkdir()

In [5]:
Path('../tmp/my_data.db').touch()

In [7]:
Path('../tmp/my_data.db')

AttributeError: 'PosixPath' object has no attribute 'filename'

In [8]:
import sqlite3
conn = sqlite3.connect('../tmp/my_data.db')

In [9]:
conn

In [10]:
c = conn.cursor()

In [11]:
c.execute('''CREATE TABLE users (user_id int, username text)''')

In [13]:
import pandas as pd

In [14]:
users = pd.read_csv('../data/users.csv')

In [15]:
users

   user_id  username
0        1  pokerkid
1        2  crazyken

In [16]:
users.to_sql('users', conn, if_exists='append', index = False)

In [17]:
c.execute('''SELECT * FROM users''')

In [19]:
c.fetchall()

[(1, 'pokerkid'), (2, 'crazyken')]

In [21]:
c.execute('''CREATE TABLE orders (order_id int, user_id int, item_name text)''')

In [22]:
orders = pd.read_csv('../data/orders.csv')

In [23]:
orders

   order_id  user_id item_name
0         1        1   speaker
1         2        1     phone
2         3        2     spoon
3         4        2      fork
4         5        2   speaker

In [24]:
orders.to_sql('orders', conn, if_exists='append', index = False)

In [25]:
c.execute('''SELECT * FROM users u LEFT JOIN orders o ON u.user_id = o.user_id''')

In [26]:
c.fetchall()

[(1, 'pokerkid', 1, 1, 'speaker'),
 (1, 'pokerkid', 2, 1, 'phone'),
 (2, 'crazyken', 3, 2, 'spoon'),
 (2, 'crazyken', 4, 2, 'fork'),
 (2, 'crazyken', 5, 2, 'speaker')]