In [5]:
import pandas as pd
import sqlite3

In [3]:
data = [('Toyota', 'Hilux', 2),
    ('Ford', 'Tek', 6),
    ('Ford', 'Outlander', 9),
    ('Honda', 'Dualis', 3),
    ('Honday', 'Elantre', 4)]
df = pd.DataFrame.from_records(data, columns=['make', 'model', 'age'])

In [4]:
df

     make      model  age
0    Ford      Hiluz    2
1    Ford        Tek    6
2    Ford  Outlander    9
3   Honda     Dualis    3
4  Honday    Elantre    4

In [7]:
conn = sqlite3.connect('../tmp/cars.db')
c = conn.cursor()

In [8]:
c.execute('''CREATE TABLE cars (make text, model text, age int)''')

In [9]:
df.to_sql('cars', conn, if_exists='append', index = False)

In [13]:
df = pd.read_sql('SELECT * from cars', conn)
df.to_csv('../tmp/cars.csv')

In [ ]:
for table in c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall():
    t = table[0]
    df = pd.read_sql('SELECT * from ' + t, conn)
    df.to_parquet('../tmp/' + t + '.csv')