In [3]:
import pandas as pd
import sqlite3

In [4]:
conn = sqlite3.connect('../tmp/nature.sqlite')
c = conn.cursor()

### Create sqlite database tables

In [5]:
c.execute('''CREATE TABLE trees (id int, tree_type text, has_leaves int)''')
c.execute('''CREATE TABLE orders (id int, tree_id int, price real)''')

### Create DataFrames

In [6]:
tree_data = [(1, 'oak', 1),
    (2, 'pine', 0),
    (3, 'palm', 0)]

tree_df = pd.DataFrame.from_records(tree_data, columns=['id', 'tree_type', 'has_leaves'])

orders_data = [(1, 1, 19.99),
    (2, 1, 29.99),
    (3, 3, 49.95)]

orders_df = pd.DataFrame.from_records(orders_data, columns=['id', 'tree_id', 'price'])

In [7]:
tree_df

   id tree_type  has_leaves
0   1       oak           1
1   2      pine           0
2   3      palm           0

In [8]:
orders_df

   id  tree_id  price
0   1        1  19.99
1   2        1  29.99
2   3        3  49.95

### Load DataFrames into sqlite database

In [9]:
tree_df.to_sql('trees', conn, if_exists='append', index = False)
orders_df.to_sql('orders', conn, if_exists='append', index = False)

### Export orders to CSV file

In [16]:
df = pd.read_sql('SELECT * from orders', conn)
df.to_csv('orders.csv', index = False)

### Export some orders to CSV file

In [17]:
df = pd.read_sql_query('SELECT * from orders where price > 25', conn)
df.to_csv('orders_over_25.csv', index = False)

### Export all tables to CSV files

In [19]:
for table in c.execute("SELECT name FROM sqlite_master WHERE type='table';").fetchall():
    t = table[0]
    df = pd.read_sql('SELECT * from ' + t, conn)
    df.to_csv(t + '_one_command.csv', index = False)

### Export trees to Parquet file

In [21]:
df = pd.read_sql('SELECT * from trees', conn)
df.to_parquet('trees.parquet', index = False)